@import '../components/ui/css/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply text-base md:text-xl xl:text-2xl;
  }

  p {
    @apply leading-tight;
  }

  body {
    @apply bg-background text-foreground;
  }
}